* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}

:root {
  --container: 80%;
  --navbar-height: 14vh;
  --frame: 375px
}

@media screen and (min-width: 0px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}
@media screen and (min-width: 576px) {
  :root {
    --btn-padding: 3.2%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --btn-padding: 2.4%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --btn-padding: 2%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --btn-padding: 1.6%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --btn-padding: 1.4%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
  }
}


.frame {
  position: relative;
  width: var(--frame);
  height: 667px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.container {
  width: var(--container);
  margin: 0 auto;
}

.nav-main {
  transition: all 400ms;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 999;
  background-color: #FFFFFF;
}

.nav-transparent {
  background-color: transparent;
}

.nav {
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-padding {
  padding-top: calc(var(--navbar-height));
}

.cover-img {
  width: 100%;
}
.bottom-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icon-img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.btn-primay-enabled {
  transition: all 400ms;
  border: none;
  width: calc(var(--frame) - var(--frame)*0.2);
  padding: var(--btn-padding);
  border-radius: 4px;
  background-color: #5302FF;
  color:#FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-primay-enabled-white {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: 5%;
  border-radius: 4px;
  background-color: #FFFFFF;
  color:#5302FF;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-primay-disabled {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: 5%;
  border-radius: 4px;
  background-color: #4215A3;
  color:#9B85CB;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-secondary-enabled {
  transition: all 400ms;
  border: none;
  width: calc(var(--frame) - var(--frame)*0.2);
  padding: var(--btn-padding);
  border-radius: 4px;
  background-color: #ececec;
  color:#5302FF;
  font-size: 1.2rem;
  font-weight: 600;
}
.anchored-bottom {
  position: absolute;
  bottom: var(--bottom-position-btn);
  z-index: 10;
}
.anchored-bottom-upper {
  position: absolute;
  bottom: var(--bottom-upper-position-btn);
  left: calc((100vw - var(--container))/2);
  z-index: 10;
}
.sticky-bottom {
  position: sticky;
  bottom: var(--bottom-position-btn);
  z-index: 10;
  left: calc((100vw - var(--container))/2);
}

.intro-text {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 100%;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
.congrats-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}
.full-height-content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tool-title {
  font-size: 1.7rem;
  font-weight: 800;
}

.padding-bottom {
  padding-bottom: 15vh;
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #d8d8d8;
  margin-left: 2%;
  padding: 2% 4%;
}

.bg-seaside {
  background-image: url(/src/assets/imgs/seaside.png);
}

.text-white {
  color: #FFFFFF;
}

.navbar-icon-right {
  margin-left: 4%;
}

.navbar-icons-right {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.audio {
  transition: all 400ms;
  position: absolute;
  bottom: 14%;
  width: var(--container);
  height: 64px;
}

.commands-up {
  transition: all 400ms;
  bottom: 4%;
}

.commands-down {
  transition: all 400ms;
  position: absolute;
  bottom: -10%;
  width: var(--container);
  height: 64px;
}

.btn-away {
  transition: all 400ms;
  bottom: -30%;
}
.topbar-away {
  transition: all 400ms;
  top: -20%;
}
.opacity-full {
  transition: all 400ms;
  opacity: 1;
}
.opacity-null {
  transition: all 400ms;
  opacity: 0;
}

.tool-list-item-enabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background-color: #d1d1d1;
  border-radius: 24px;
  margin-bottom: 2%;
  font-weight: 500;
}
.tool-list-item-disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background-color: #f1f1f1;
  border-radius: 24px;
  margin-bottom: 2%;
  font-weight: 300;
}
.tool-group {
  display: inline-flex;
  align-items: center;
}
.img-placeholder {
  width: 64px;
  aspect-ratio: 1;
  background-color: #FFFFFF;
  margin-right: 2%;
  border-radius: 16px;
}

.modal-full {
  transition: all 400ms;
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: #FFFFFF;
  z-index: 10000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-down {
  transition: all 400ms;
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: #FFFFFF;
  bottom: -100%;
  z-index: 10000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-up {
  transition: all 400ms;
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: #FFFFFF;
  bottom: 0%;
  z-index: 1000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8% 0;
}
.modal-bottom-nav {
  position: absolute;
  bottom: 4%;
  width: var(--container);
}

.overflow-hidden {
  overflow: hidden;
}