* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --container: 85%;
  --navbar-height: 14vh;
  --frame: 375px
}

button {
  margin-top: 2%;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 0px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 100vw;
    --frame-height: 100vh;
    --modal-height: 90vh;
    --fixed-button-width: calc(var(--frame-width) - calc(var(--frame-width) - var(--container)));
  }
  .padding-bottom {
    padding-bottom: 8vh;
  }
  .fixed-bottom {
    position: fixed;
    width: 100%;
    left: calc((var(--frame-width) - var(--container))/2);
    bottom: var(--bottom-position-btn);
    z-index: 10;  
  }
  .fixed-bottom-double {
    position: fixed;
    width: 100%;
    left: calc((var(--frame-width) - var(--container))/2);
    bottom: var(--bottom-position-btn);
    z-index: 10;
  }

  .full-height-content-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
@media screen and (min-width: 576px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 375px;
    --frame-height: 667px;
    --modal-height: 620px;
    --fixed-button-width: 318.75px;
  }
  .padding-bottom {
    padding-bottom: 16vh;
  }
  .fixed-bottom {
    position: fixed;
    width: var(--frame-width);
    left: 50%;
    transform: translateX(-50%);
    top: 570px;
    bottom: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fixed-bottom-double {
    position: fixed;
    width: var(--frame-width);
    left: 50%;
    transform: translateX(-50%);
    top: 502px;
    bottom: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .full-height-content-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--frame-height);
  }
}
@media screen and (min-width: 768px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 375px;
    --frame-height: 667px;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 375px;
    --frame-height: 667px;
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 375px;
    --frame-height: 667px;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --btn-padding: 5%;
    --bottom-position-btn: 4%;
    --bottom-upper-position-btn: 14%;
    --frame-width: 375px;
    --frame-height: 667px;
  }
}


.frame {
  position: relative;
  width: var(--frame-width);
  height: var(--frame-height);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.container {
  width: var(--container);
  margin: 0 auto;
}

.nav-main {
  transition: all 400ms;
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 999;
  background-color: #FFFFFF;
}

.nav-transparent {
  background-color: transparent;
}

.nav {
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-padding {
  padding-top: calc(var(--navbar-height));
}

.cover-img {
  width: 100%;
}
.bottom-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icon-img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.btn-primay-enabled {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: var(--btn-padding);
  border-radius: 4px;
  background-color: #5302FF;
  color:#FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-primay-enabled-white {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: 5%;
  border-radius: 4px;
  background-color: #FFFFFF;
  color:#5302FF;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-primay-disabled {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: 5%;
  border-radius: 4px;
  background-color: #4215A3;
  color:#9B85CB;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-secondary-enabled {
  transition: all 400ms;
  border: none;
  width: var(--container);
  padding: var(--btn-padding);
  border-radius: 4px;
  background-color: #ececec;
  color:#5302FF;
  font-size: 1.2rem;
  font-weight: 600;
}

.anchored-bottom {
  position: absolute;
  bottom: var(--bottom-position-btn);
  z-index: 10;
}
.anchored-bottom-upper {
  position: absolute;
  bottom: var(--bottom-upper-position-btn);
  left: calc((var(--frame-width) - var(--container))/2);
  z-index: 10;
}
.sticky-bottom {
  position: sticky;
  bottom: var(--bottom-position-btn);
  z-index: 10;
  left: calc((var(--frame-width) - var(--container))/2);
}


.intro-text {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 100%;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
.congrats-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}

.tool-title {
  font-size: 1.7rem;
  font-weight: 800;
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 1000px;
  background-color: #d8d8d8;
  margin-left: 2%;
  padding: 2% 4%;
}

.bg-seaside {
  background-image: url(/src/assets/imgs/seaside.png);
}

.text-white {
  color: #FFFFFF;
}

.navbar-icon-right {
  margin-left: 4%;
}

.navbar-icons-right {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.audio {
  transition: all 400ms;
  position: absolute;
  bottom: 14%;
  width: var(--container);
  height: 64px;
}

.commands-up {
  transition: all 400ms;
  bottom: 4%;
}

.commands-down {
  transition: all 400ms;
  position: absolute;
  bottom: -10%;
  width: var(--container);
  height: 64px;
}

.btn-away {
  transition: all 400ms;
  bottom: -30%;
}
.topbar-away {
  transition: all 400ms;
  top: -20%;
}
.opacity-full {
  transition: all 400ms;
  opacity: 1;
}
.opacity-null {
  transition: all 400ms;
  opacity: 0;
}

.tool-list-item-enabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background-color: #d1d1d1;
  border-radius: 24px;
  margin-bottom: 2%;
  font-weight: 500;
}
.tool-list-item-disabled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  background-color: #f1f1f1;
  border-radius: 24px;
  margin-bottom: 2%;
  font-weight: 300;
}
.tool-group {
  display: inline-flex;
  align-items: center;
}
.img-placeholder {
  width: 64px;
  aspect-ratio: 1;
  background-color: #FFFFFF;
  margin-right: 2%;
  border-radius: 16px;
}

.modal-full {
  transition: all 400ms;
  position: relative;
  width: var(--frame-width);
  height: 90vh;
  background-color: #FFFFFF;
  z-index: 10000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-down {
  transition: all 400ms;
  position: absolute;
  width: var(--frame-width);
  height: 90vh;
  background-color: #FFFFFF;
  bottom: -120%;
  z-index: 10000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-up {
  transition: all 400ms;
  position: absolute;
  width: var(--frame-width);
  height: var(--modal-height);
  background-color: #FFFFFF;
  bottom: 0%;
  z-index: 1000;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px 32px #888888;
}
.modal-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 8% 0;
}
.modal-bottom-nav {
  position: absolute;
  bottom: 4%;
  width: var(--frame-width);
}

.overflow-hidden {
  overflow: hidden;
}